.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: sans-serif;
}


nav ul {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #222;
    margin-right: 1rem;
}
li a:hover {
    color: #007acc;
}
header {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}